


</body>

<footer class="page-footer bg-dark">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3 text-white">© 2019 Copyright:
          <p class="text-white">Daniel Quintero</p>
        </div>
        <!-- Copyright -->
      
      </footer>

</html>